.bookSelection__cover {
    max-width: 200px;
}

.bookSelection_row--accent {
    background: #def;
}

.bookSelection_cell {
    padding: 2em;
    vertical-align: top;
}

.bookSelection_cell:nth-child(3) {
    padding: 0;
}

/* Layout sections */
.bookSelection {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 1em;
    margin-bottom: 1em;
}

.bookSelection__price {
    font-size: 2em;
}